---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: tsf-autoscaler
  namespace: python-demo-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: demo-flask-app-for-autoscaling
  pollingInterval: 60
  cooldownPeriod: 30
  minReplicaCount: 1
  maxReplicaCount: 10
  fallback:
    failureThreshold: 3
    replicas: 2
  triggers:
  - type: external
    metadata:
      query: sum(rate(flask_http_request_total{job="demo-flask-app-for-autoscaling-service"}[1m])) * 60
      podCapacity: "1000"
      minReplicas: "1"
      maxReplicas: "10"
      activationValue: "10"
      uncertaintyThreshold: "100"
      riskTolerance: "0.5"